﻿@page
@model Food.Pages.Restaurants.ListModel
@{
}
<table>
   @foreach(var restaurant in Model.Restaurants)
{
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
    </tr>
}

</table>
@Model.Message